<main>
    <div class="container">
        <form class="form">
            <div class="input-icons">
                <mat-icon class="icon i" aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
                <input class="input" placeholder="Username">
            </div>
            <div class="input-icons">
                <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="lock"></mat-icon>
                <input class="input" placeholder="Password">
            </div>
            <button class="btn-login">LOGIN</button> <br>
        </form>
        <span class="text">
            Don't have an account?
            <a routerLink="/register">Register now.</a>
        </span>
    </div>

</main>