<main>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-7">
            <app-product-summary></app-product-summary>
            <app-product-summary></app-product-summary>
            <app-product-summary></app-product-summary>
            <app-product-summary></app-product-summary>

        </div>
        <div class="col-4">
            <mat-card class="example-card">
                <app-cart-summary></app-cart-summary>
            </mat-card>
        </div>
    </div>
</main>