<main>
  <div class="tool-bar">
    <div>
      <a class="logo" routerLink=""> {{title}}
      </a>
    </div>
    <div class="tool-bar-menu" *ngIf="showToolBarShop">
      <button>
        <mat-icon class="icon fav">favorite</mat-icon>
      </button>
      <button>
        <mat-icon class="icon shop">shopping_cart</mat-icon>
      </button>
      <button>
        <mat-icon class="icon acc">account_circle</mat-icon>
      </button>
    </div>
    <div class="tool-bar-menu" *ngIf="showToolBarAdmin">
      <button>
        <mat-icon class="icon users">supervisor_account</mat-icon>
      </button>
      <button>
        <mat-icon class="icon store">store</mat-icon>
      </button>
     
    </div>
  </div>
  <router-outlet></router-outlet>
</main>