$logoColor: #EA7A4F
$logoColorH: #5892bf

$logoFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

.logo
    text-decoration: none
    color: $logoColor
    font-size: 30px
    font-weight: bolder
    font-family: $logoFamily
    transition: width 3s ease-in-out
    &:hover
        color: $logoColorH
