<div class="container row">
  <mat-card class="example-card col">
    <img src="{{ product.image }}" alt="" />
    <mat-card-header>
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle>{{ product.model }}</mat-card-subtitle>
    </mat-card-header>
    <div class="info-prod">
      <mat-card-content>
        <p>{{ product.oldPrice }}₺</p>
        <span>{{ product.price }}₺</span>
      </mat-card-content>
      <mat-card-actions>
        <button class="fav-btn">
          <mat-icon class="fav">favorite_border</mat-icon>
        </button>
        <button class="shop-btn">
          <mat-icon class="shop">add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
